<%= stylesheet_link_tag 'datetimepicker/jquery.datetimepicker.css',:plugin => 'mega_calendar' %>
<%= javascript_include_tag 'datetimepicker/build/jquery.datetimepicker.full.min.js',:plugin => 'mega_calendar'%>

<div class="contextual">
  <a class="icon icon-cancel" href="<%= @base_url %>/holidays/index"><%= translate 'list' %></a>
</div>

<h2><%= translate 'holiday' %></h2>

<%= error_messages_for 'holiday' %>

<form action="<%= @base_url %>/holidays/create">
  <div class="box tabular">
    <p>
      <label><%= translate 'user' %></label>
      <select name="holiday[user_id]">
          <option value=""><%= translate 'select_default' %></option>
          <% User.where(["users.login IS NOT NULL AND users.login <> ''"]).each do |u| %>
            <option value="<%= u.id.to_s %>"><%= u.to_s %></option>
          <% end %>
      </select>
    </p>
    <p>
      <label><%= translate 'start' %></label>
      <input type="text" id="holiday_start" name="holiday[start]" />
    </p>
    <p>
      <label><%= translate 'end' %></label>
      <input type="text" id="holiday_end" name="holiday[end]" />
    </p>
  </div>
  <input type="submit" value="<%= translate 'save' %>" />
</form>

<script type="text/javascript">
 $(document).ready(function() {
 $.datetimepicker.setLocale('<%= I18n.locale %>');
 var options = {
   i18n: {
    de: {
     months: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
     dayOfWeek: ["So.", "Mo", "Di", "Mi","Do", "Fr", "Sa."]
    }
   },
   timepicker: true,
   datepicker: true,
   format: 'Y-m-d H:i',
 };
 $("#holiday_start").datetimepicker(options);
 $("#holiday_end").datetimepicker(options);
 });
</script>
