<div class="contextual">
  <a class="icon icon-edit" href="<%= @base_url %>/holidays/edit?id=<%= @holiday.id.to_s %>"><%= translate 'edit' %></a>
  <a class="icon icon-del" href="<%= @base_url %>/holidays/destroy?id=<%= @holiday.id.to_s %>"><%= translate 'destroy' %></a>
  <a class="icon icon-cancel" href="<%= @base_url %>/holidays/index"><%= translate 'list' %></a>
</div>

<h2><%= translate 'holiday' %></h2>
<%
  user = @holiday.user rescue ''
%>

<div class="box tabular">
<p>
  <label><%= translate 'user' %></label>
  <%= user %>
</p>
<p>
  <label><%= translate 'start' %></label>
  <%= @holiday.start.blank? ? '' : format_time(@holiday.start) %>
</p>
<p>
  <label><%= translate 'end' %></label>
  <%= @holiday.end.blank? ? '' : format_time(@holiday.end) %>
</p>
</div>
