<link rel='stylesheet' href='/plugin_assets/mega_calendar/javascripts/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='/plugin_assets/mega_calendar/javascripts/qtip2/jquery.qtip.min.css' />
<script src='/plugin_assets/mega_calendar/javascripts/fullcalendar/lib/jquery.min.js'></script>
<script src='/plugin_assets/mega_calendar/javascripts/fullcalendar/lib/moment.min.js'></script>
<script src='/plugin_assets/mega_calendar/javascripts/fullcalendar/fullcalendar.js'></script>
<script src='/plugin_assets/mega_calendar/javascripts/qtip2/jquery.qtip.min.js'></script>
<script src='/plugin_assets/mega_calendar/javascripts/fullcalendar/lang-all.js'></script>
<style>
.calendar_event {
  pointer:cursor !important;
  color:#000000 !important;
}

.calendar_event_closed {
  text-decoration: line-through !important;
  opacity: 0.6 !important;
}
</style>
<h2><%= translate 'calendar' %></h2>
<center><div id='calendar' style="max-width:900px;"></div></center>

<%
  js_locale = request.env['HTTP_ACCEPT_LANGUAGE'].scan(/^[a-z]{2}/).first rescue nil
  if js_locale.blank? || (js_locale != 'en' && js_locale != 'de' && js_locale != 'fr')
    js_locale = 'en'
  end
%>

<script type="text/javascript">
  var user_query;
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        lang: '<%= js_locale %>',
        customButtons: {
                myTickets: {
                        text: '<%= translate 'my_issues' %>',
                        click: function() {
                          user_query = true;
                          $('#calendar').fullCalendar( 'refetchEvents' );
                        }
                },
                allTickets: {
                        text: '<%= translate 'all_issues' %>',
                        click: function() {
                          user_query = false;
                          $('#calendar').fullCalendar( 'refetchEvents' );
                        }
                }

        },
        header: {
                        left: 'prev,next today allTickets,myTickets',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                },
        displayEventEnd: true,
        events: function(start, end, timezone, callback) {
          $.ajax({
            url: '/calendar/get_events',
            dataType: 'json',
            data: {
              start: start.format("YYYY-MM-DD HH:MM"),
              end: end.format("YYYY-MM-DD HH:MM"),
              user: user_query
            },
            success: function(doc) {
              var events = [];
              $(doc).each(function() { events.push(this); });
              callback(events);
            }
        });
      },
      eventRender: function(event, element) {
          element.qtip({ content: event.description, position: { target: 'mouse', adjust: { x: 5, y: 5}} });
      },
      eventLimit: true,
      editable: true,
      eventDrop: function(event, delta, revertFunc) {
        if(!confirm("<%= (translate 'save_question') %>")) {
          revertFunc();
        } else {
          var event_begin = event.start.format();
          var event_end = (event.end !== null ? event.end.format() : null);
          var allDay = event.allDay;
          $.get('/calendar/change_' + event.controller_name, { id: event.id, event_begin: event_begin, event_end: event_end, allDay: allDay });
        }
      },
      eventResize: function(event, delta, revertFunc) {
        if(!confirm("<%= (translate 'save_question') %>")) {
          revertFunc();
        } else {
          $.get('/calendar/change_' + event.controller_name, { id: event.id, event_begin: event.start.format(), event_end: event.end.format() });
        }
      }
    });
  });
</script>
