<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'datetimepicker/jquery.datetimepicker.css',:plugin => 'mega_calendar' %>
  <%= javascript_include_tag 'datetimepicker/build/jquery.datetimepicker.full.min.js',:plugin => 'mega_calendar' %>
<% end %>

<div class="contextual">
  <%= link_to l(:button_show), { :controller => 'calendar_event', :action => 'show', :id => @calendar_event.id.to_s }, :class => 'icon icon-summary' %>
  <%= link_to l(:button_delete), { :controller => 'calendar_event', :action => 'destroy', :id => @calendar_event.id.to_s }, :class => 'icon icon-del' %>
  <%= link_to l(:label_list), { :controller => 'calendar_event', :action => 'index' }, :class => 'icon icon-cancel' %>
</div>

<h2><%= translate 'label_calendar_event' %></h2>

<%= error_messages_for 'calendar_event' %>

<%= labelled_form_for :contact, @calendar_event,
                             :url => {:action => 'update', :id => @calendar_event.id},
                             :html => { :method => :put, :id => "calendar_event_form" } do |f| %>
  <div class="box tabular">
    <p>
      <%= label_tag('calendar_event[user_id]', l(:field_user)) %>
      <select name="calendar_event[user_id]" id="calendar_event_user_id">
        <option value=""><%= translate 'select_default' %></option>
        <% @calendar_event.assignable_users.each do |u| %>
          <option value="<%= u.id.to_s %>"<% if u.id == @calendar_event.user_id %> selected="selected"<% end %>><%= u.to_s %></option>
        <% end %>
      </select>
    </p>
    <p>
      <%= label_tag('calendar_event[start]', l(:field_start_date)) %>
      <input type="text" id="calendar_event_start" name="calendar_event[start]" value="<%= @calendar_event.start.blank? ? '' : @calendar_event.start.localtime.strftime('%Y-%m-%d %H:%M') %>" />
    </p>
    <p>
      <%= label_tag('calendar_event[end]', l(:field_end_date)) %>
      <input type="text" id="calendar_event_end" name="calendar_event[end]" value="<%= @calendar_event.end.blank? ? '' : @calendar_event.end.localtime.strftime('%Y-%m-%d %H:%M') %>" />
    </p>
    <p>
      <%= label_tag('calendar_event[title]', l(:field_title)) %>
      <input type="text" id="calendar_event_title" name="calendar_event[title]" value="<%= @calendar_event.title %>" />
    </p>
  </div>
  <%= submit_tag l(:button_save) -%>
<% end -%>

<script type="text/javascript">
 $(document).ready(function() {
 $.datetimepicker.setLocale('<%= I18n.locale %>');
 var options = {
   timepicker: true,
   datepicker: true,
   format: 'Y-m-d H:i'
 };
 $("#calendar_event_start").datetimepicker(options);
 $("#calendar_event_end").datetimepicker(options);
 });
</script>
