<div class="contextual">
  <%= link_to l(:label_new), { :controller => 'calendar_event', :action => 'new' }, :class => 'icon icon-add' %>
</div>

<h2><%= translate 'label_calendar_events' %></h2>
<div class="autoscroll">
<table class="list issues sort-by-id sort-desc">
  <tr>
    <th><%= translate 'field_user' %></th>
    <th><%= translate 'field_start_date' %></th>
    <th><%= translate 'field_end_date' %></th>
    <th><%= translate 'field_title' %></th>
    <th><%= translate 'action' %></th>
  </tr>
  <% @res.each do |row| %>
      <td><%= row.user.blank? ? '-' : row.user.to_s %></td>
      <td><%= row.start.blank? ? '' : format_time(row.start) %></td>
      <td><%= row.end.blank? ? '' : format_time(row.end) %></td>
      <td><%= row.title %></td>
      <td>
        <%= link_to l(:button_show), { :controller => 'calendar_event', :action => 'show', :id => row.id.to_s }, :class => 'icon icon-summary' %>
        <%= link_to l(:button_edit), { :controller => 'calendar_event', :action => 'edit', :id => row.id.to_s }, :class => 'icon icon-edit' %>
        <%= link_to l(:button_delete), { :controller => 'calendar_event', :action => 'destroy', :id => row.id.to_s }, :class => 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
</table>
</div>
<% if @pagination == true %>
  <%= link_to l(:prev), { :controller => 'calendar_event', :action => 'index', :page => @last_page.to_s } %>
  <%= link_to l(:next), { :controller => 'calendar_event', :action => 'index', :page => @new_page.to_s } %>
<% end %>
