<% content_for :header_tags do %>
  <%= javascript_include_tag 'jscolor/jscolor.js',:plugin => 'mega_calendar'%>
<% end %>

<%- if Rails::VERSION::MAJOR >= 4 %>
  <%- custom_fields_users = CustomField.where(type: 'UserCustomField') %>
  <%- custom_fields_issues = CustomField.where(type: 'IssueCustomField') %>
<%- else %>
  <%- custom_fields_users = CustomField.find(:all, :conditions => "type = 'UserCustomField'") %>
  <%- custom_fields_issues = CustomField.find(:all, :conditions => "type = 'IssueCustomField'") %>
<%- end %>

<p>
  <%= label_tag('settings[default_event_color]', l(:label_setting_event_color)) %>
  <%= text_field_tag 'settings[default_event_color]', @settings['default_event_color'], :size => 6, :class => 'color' %>
</p>
<p>
  <%= label_tag('settings[default_issue_color]', l(:label_setting_issue_color)) %>
  <%= text_field_tag 'settings[default_issue_color]', @settings['default_issue_color'], :size => 6, :class => 'color' %>
</p>
<p>
  <%= label_tag('settings[custom_field_id_color]', l(:label_setting_custom_field_id_color)) %>
  <%= select_tag('settings[custom_field_id_color]', options_for_select([['', 0]] + custom_fields_users.collect{|c| [c.name, c.id]}, (@settings['custom_field_id_color'] || 0))) %>
</p>
<p>
  <%= label_tag('settings[custom_field_id_start]', l(:label_setting_custom_field_id_start)) %>
  <%= select_tag('settings[custom_field_id_start]', options_for_select([['', 0]] + custom_fields_issues.collect{|c| [c.name, c.id]}, (@settings['custom_field_id_start'] || 0))) %>
</p>
<p>
  <%= label_tag('settings[custom_field_id_end]', l(:label_setting_custom_field_id_end)) %>
  <%= select_tag('settings[custom_field_id_end]', options_for_select([['', 0]] + custom_fields_issues.collect{|c| [c.name, c.id]}, (@settings['custom_field_id_end'] || 0))) %>
</p>
<p>
  <%= label_tag('settings[default_calendar_view]', l(:label_setting_default_calendar_view)) %>
  <select id="settings_default_calendar_view" name="settings[default_calendar_view]">
      <option value="month" <%= (Setting.plugin_mega_calendar['default_calendar_view'] == 'month' ? 'selected' : '') %>><%= l(:label_month) %></option>
      <option value="agendaWeek" <%= (Setting.plugin_mega_calendar['default_calendar_view'] == 'agendaWeek' ? 'selected' : '') %>><%= l(:label_week) %></option>
      <option value="agendaDay" <%= (Setting.plugin_mega_calendar['default_calendar_view'] == 'agendaDay' ? 'selected' : '') %>><%= l(:label_day) %></option>
  </select>
</p>
<p>
  <%= label_tag('settings[hidden_days_of_week][]', l(:label_setting_hidden_days_of_week)) %>
  <%= select_tag 'settings[hidden_days_of_week][]' , options_for_select( (0..6).to_a.collect { |w| [l('date.day_names')[w], w]}, @settings['hidden_days_of_week']), { :multiple => true, :size => 7 } %>
</p>
<p>
  <%= label_tag('settings[start_time]', l(:label_setting_start_time)) %>
  <%= text_field_tag 'settings[start_time]', @settings['start_time'], :size => 5, :placeholder => 'hh:mm' %>
</p>
<p>
  <%= label_tag('settings[end_time]', l(:label_setting_end_time)) %>
  <%= text_field_tag 'settings[end_time]', @settings['end_time'], :size => 5, :placeholder => 'hh:mm' %>
</p>
<p>
  <%= label_tag('settings[tracker_ids][]', l(:label_setting_enabled_trackers)) %>
  <%= select_tag 'settings[tracker_ids][]' , options_for_select( Tracker.all.collect { |a| [a.name, a.id]}, @settings['tracker_ids']), { :multiple => true, :size => Tracker.count } %>
</p>
