<script src='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/jscolor/jscolor.js'></script>
<table>
  <tbody>
    <tr>
      <th><%= translate 'def_holiday_color' %></th>
      <td>
        <input type="text" id="settings_default_holiday_color" value="<%= settings['default_holiday_color'] %>" name="settings[default_holiday_color]" class="color" />
      </td>
    </tr>
    <tr>
      <th><%= translate 'def_color' %></th>
      <td>
        <input type="text" id="settings_default_event_color" value="<%= settings['default_event_color'] %>" name="settings[default_event_color]" class="color" />
      </td>
    </tr>
    <tr>
      <th><%= translate 'sub_path' %></th>
      <td>
        <input type="text" id="settings_sub_path" value="<%= settings['sub_path'] %>" name="settings[sub_path]" />
      </td>
    </tr>
    <tr>
      <th><%= translate 'display_empty_dates' %></th>
      <td>
        <select name="settings[display_empty_dates]">
          <option value="0" <%= (Setting.plugin_mega_calendar['display_empty_dates'].to_i == 0 ? 'selected' : '') %>><%= translate 'general_text_No' %></option>
          <option value="1" <%= (Setting.plugin_mega_calendar['display_empty_dates'].to_i == 1 ? 'selected' : '') %>><%= translate 'general_text_Yes' %></option>
        </select>
      </td>
    </tr>
    <tr>
      <th><%= translate 'week_start' %></th>
      <td>
	<select id="settings_week_start" name="settings[week_start]">
          <% (0..6).each do |d| %>
            <option value="<%= d.to_s %>" <%= (!Setting.plugin_mega_calendar['week_start'].blank? && Setting.plugin_mega_calendar['week_start'] == d.to_s ? 'selected' : '') %>><%= translate 'day'+d.to_s %></option>
          <% end %>
	</select>
      </td>
    </tr>
    <tr>
      <th><%= translate 'allowed_users' %></th>
      <td>
        <select id="settings_allowed_users" value="<%= settings['allowed_users'] %>" name="settings[allowed_users][]" multiple>
          <% User.where(["users.login IS NOT NULL AND users.login <> ''"]).order("users.login ASC").each do |u| %>
            <option value="<%= u.id.to_s %>" <%= (!Setting.plugin_mega_calendar['allowed_users'].blank? && Setting.plugin_mega_calendar['allowed_users'].include?(u.id.to_s) ? 'selected' : '') %>><%= u.login.to_s %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <th><%= translate 'displayed_within_calendar' %></th>
      <td>
        <input onclick="show_user_group_select('users');" type="radio" name="settings[displayed_type]" value="users" <%= (!Setting.plugin_mega_calendar['displayed_type'].blank? && Setting.plugin_mega_calendar['displayed_type'] == 'users' ? 'checked' : '') %>> <%= translate 'field_user' %><br>
        <input onclick="show_user_group_select('groups');" type="radio" name="settings[displayed_type]" value="groups" <%= (!Setting.plugin_mega_calendar['displayed_type'].blank? && Setting.plugin_mega_calendar['displayed_type'] == 'groups' ? 'checked' : '') %>> <%= translate 'label_group' %><br>
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>
        <select id="settings_displayed_users" value="<%= settings['displayed_users'] %>" name="settings[displayed_users][]" multiple>
          <% User.where(["users.login IS NOT NULL AND users.login <> ''"]).order("users.login ASC").each do |u| %>
            <option value="<%= u.id.to_s %>" <%= (!Setting.plugin_mega_calendar['displayed_users'].blank? && Setting.plugin_mega_calendar['displayed_users'].include?(u.id.to_s) ? 'selected' : '') %>><%= u.login.to_s %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>
        <select id="settings_displayed_groups" value="<%= settings['displayed_users'] %>" name="settings[displayed_users][]" multiple>
          <% Group.where(["users.lastname IS NOT NULL AND users.lastname <> ''"]).order("users.lastname ASC").each do |g| %>
            <option value="<%= g.id.to_s %>" <%= (!Setting.plugin_mega_calendar['displayed_users'].blank? && Setting.plugin_mega_calendar['displayed_users'].include?(g.id.to_s) ? 'selected' : '') %>><%= g.lastname.to_s %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  function show_user_group_select(type) {
    if(type === 'users') {
      $('#settings_displayed_users').prop('disabled', false);
      $('#settings_displayed_users').fadeIn();
      $('#settings_displayed_groups').fadeOut();
      $('#settings_displayed_groups').prop('disabled', true);
    } else {
      $('#settings_displayed_groups').prop('disabled', false);
      $('#settings_displayed_groups').fadeIn();
      $('#settings_displayed_users').fadeOut();
      $('#settings_displayed_users').prop('disabled', true);
    }
  }
  $(function() {
    show_user_group_select('<%= Setting.plugin_mega_calendar['displayed_type'] %>');
  });
</script>
