<script src='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/jscolor/jscolor.js'></script>

<p>
  <label><%= translate 'def_holiday_color' %></label>
  <%= text_field_tag 'settings[default_holiday_color]', @settings['default_holiday_color'], :class => "color" %>
</p>
<p>
  <label><%= translate 'def_color' %></label>
  <input type="text" id="settings_default_event_color" value="<%= settings['default_event_color'] %>" name="settings[default_event_color]" class="color" />
</p>
<p>
  <label><%= translate 'sub_path' %></label>
  <input type="text" id="settings_sub_path" value="<%= settings['sub_path'] %>" name="settings[sub_path]" />
</p>
<p>
  <label><%= translate 'enabled_trackers' %></label>
  <select id="settings_tracker_ids" value="<%= settings['tracker_ids'] %>" name="settings[tracker_ids][]" multiple size="10">
    <% Tracker.all.each do |t| %>
      <option value="<%= t.id.to_s %>" <%= (!Setting.plugin_mega_calendar['tracker_ids'].blank? && Setting.plugin_mega_calendar['tracker_ids'].include?(t.id.to_s) ? 'selected' : '') %>><%= t.name.to_s %></option>
    <% end %>
  </select>
</p>
